Since ReefSet is without an official splits between traning and testing. This script takes the responsibility for generating the ReefSet splits. We splits the ReefSet as 7:3 between training and testing sets among each labels.

In [1]:
import os
dataset_root_path = '/root/data/ReefSet_v1.0' 

import pandas as pd

data_meta = pd.read_json(os.path.join(dataset_root_path, 'reefset_annotations.json'))
data_meta.head()

,id,file_name,label,data_sharer,dataset,recorder
0,1,1.bermuda.conservation_metrics.bioph.wav,bioph,conservation_metrics,bermuda,soundtrap300
1,2,2.bermuda.conservation_metrics.bioph.wav,bioph,conservation_metrics,bermuda,soundtrap300
2,3,3.bermuda.conservation_metrics.bioph.wav,bioph,conservation_metrics,bermuda,soundtrap300
3,4,4.bermuda.conservation_metrics.bioph.wav,bioph,conservation_metrics,bermuda,soundtrap300
4,5,5.bermuda.conservation_metrics.bioph.wav,bioph,conservation_metrics,bermuda,soundtrap300

In [2]:
label_meta = pd.read_csv(os.path.join(dataset_root_path, 'reefset_labels_by_dataset.csv'), header=0)
label_meta.head()

,Class label,Belize,Bermuda,Florida Boats,Florida,Hawaii HIMB,Hawaii Kaneohe,Indonesia,Kenya,Mozambique,Palmyra hydromoth,Palmyra Mixed,Philippines,Tanzania,Thailand,USVI Butler Bay,USVI St Croix
0,ambient,0,0,3528,0,0,0,1800,563,0,0,0,0,0,0,0,0
1,anthrop_boat_engine,0,397,1522,2117,476,64,0,0,0,0,0,94,0,244,193,0
2,anthrop_bomb,0,0,0,0,0,0,203,0,0,0,0,0,0,0,0,0
3,anthrop_mechanical,0,0,0,0,0,0,0,0,0,0,0,0,0,0,619,0
4,bioph,45,346,0,922,250,101,0,258,331,588,0,0,74,0,261,97

In [3]:
output_path = './data/ReefSet'
from lib.utils import make_unless_exits
make_unless_exits(output_path)
train_csv_file = os.path.join(output_path, 'train_annotations.csv')
test_csv_file = os.path.join(output_path, 'test_annotations.csv')

for label in label_meta['Class label']:
    sub_data = data_meta[data_meta['label'] == label]
    print(f'{label} size is: {len(sub_data)}')

ambient size is: 5891
anthrop_boat_engine size is: 5107
anthrop_bomb size is: 203
anthrop_mechanical size is: 619
bioph size is: 3273
bioph_cascading_saw size is: 9464
bioph_chatter size is: 155
bioph_chorus size is: 63
bioph_crackle size is: 203
bioph_croak size is: 3602
bioph_damselfish size is: 1312
bioph_dolphin size is: 1748
bioph_double_pulse size is: 1099
bioph_echinidae size is: 1500
bioph_epigut size is: 326
bioph_grazing size is: 350
bioph_grouper_a size is: 102
bioph_grouper_groan size is: 140
bioph_growl size is: 2015
bioph_holocentrus size is: 91
bioph_knock size is: 1341
bioph_knock_croak_a size is: 2951
bioph_knock_croak_b size is: 326
bioph_knock_croak_c size is: 1384
bioph_low_growl size is: 542
bioph_megnov size is: 2501
bioph_midshipman size is: 4660
bioph_mycbon size is: 730
bioph_pomamb size is: 128
bioph_pulse size is: 1459
bioph_rattle size is: 2508
bioph_rattle_response size is: 558
bioph_series_a size is: 174
bioph_series_b size is: 65
bioph_stridulation size is: 380
bioph_whup size is: 55
geoph_waves size is: 49

In [4]:
from sklearn.model_selection import train_test_split

for idx, label in enumerate(label_meta['Class label']):
    sub_data = data_meta[data_meta['label'] == label]
    train_set, test_set = train_test_split(sub_data, test_size=.3, random_state=123456)
    if idx == 0:
        ttl_train_set = train_set
        ttl_test_set = test_set
    else:
        ttl_train_set = pd.concat([ttl_train_set, train_set], ignore_index=True, axis=0)
        ttl_test_set = pd.concat([ttl_test_set, test_set], ignore_index=True, axis=0)
print(f'ttl_train_set size is: {len(ttl_train_set)}')
print(f'ttl_test_set size is: {len(ttl_test_set)}')
ttl_train_set.head()

ttl_train_set size is: 39937
ttl_test_set size is: 17137

,id,file_name,label,data_sharer,dataset,recorder
0,6954,6954.indonesia_bombs.b_williams_ucl.ambient.wav,ambient,b_williams_ucl,indonesia_bombs,hydromoth
1,8827,8827.kenya.b_williams_ucl.ambient.wav,ambient,b_williams_ucl,kenya,hydromoth
2,2285,2285.florida_boats.c_white_bristol.ambient.wav,ambient,c_white_bristol,florida_boats,hydromoth
3,4417,4417.florida_boats.c_white_bristol.ambient.wav,ambient,c_white_bristol,florida_boats,hydromoth
4,6878,6878.indonesia_bombs.b_williams_ucl.ambient.wav,ambient,b_williams_ucl,indonesia_bombs,hydromoth

In [5]:
ttl_train_set.to_csv(train_csv_file)
ttl_test_set.to_csv(test_csv_file)